<html>
<head>
	<title>Karanbir Bains</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/connect.css">
</head>
<body>
	<div id="About" class="tabcontent">
	  <h1>Karanbir Bains</h1> 
	  <img className="img-rounded" id="profilePic" src='https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAkLAAAAJGYwNDBkZTMwLTUxOGUtNDJiNi05ODY5LWIxYTI0MjZhYWUwYw.jpg'/>
	</div>

	<div id="Projects" class="tabcontent">
	  <h1>Projects</h1>
	  <h3>"A dream does not become reality through magic; it takes sweat, determination and hard work." 
		– Colin Powell</h3> 
	</div>

	<div id="Experience" class="tabcontent">
	  <h1>Experience</h1>
	  <h3>“There are no mistakes in life, only lessons. There is no such thing as a negative experience, only opportunities to grow, learn and advance along the road of selfmastery." – Robin S. Sharma </h3>
	</div>

	<div id="Connect" class="tabcontent">
	  <h1>Connect</h13>
	  <h3>"Alone we can do so little, Together we can do so much." – Helen Keller</h3>
	</div>

	<a href="/"><button class="tablink">About Me</button></a>
	<a href="/project"><button class="tablink">Projects</button></a>
	<a href="/exp"><button class="tablink">Experience</button></a>
	<button class="tablink" onclick="openTab('Connect', this, '#27AA2C')" id="defaultOpen">Connect</button>


	
	<div class="container">
		<br>
		<div class="Div" id="contactMeDiv">
			<h1 class="Title" id="contactMeTitle">Contact Me</h1>
			<p class="Body" id="contactMeBody"> If you would like to contact me there is a varity of ways fo doing so. The most convenivent is by Phone at (408) 315-1945. You can also contact me via email at k1bains@ucsd.edu or kanab96@gmail.com. I am currently looking for either entry level software developer or summer internship opputunites. You can also vist my github or linkedIn for more information. </p>
			 <a href="https://github.com/ksbains"><img src="https://github.com/ksbains/Bootstrap-Portfolio/blob/master/assets/images/github-128.png?raw=true" class="social" alt="GitHub" /></a>
	        
	        <a href="https://www.linkedin.com/in/karanbirbains/"><img src="https://github.com/ksbains/Bootstrap-Portfolio/blob/master/assets/images/linkedin-128.png?raw=true" class="social" alt="LinkedIn" /></a>

	        <a href="https://stackoverflow.com/users/8414105/k-bains"><img src="https://github.com/ksbains/Bootstrap-Portfolio/blob/master/assets/images/stackoverflow-128.png?raw=true" class="social" alt="Stack Overflow" /></a>
	        <br>
		</div>
		<br>
	</div>
	<br>
	<br>
	<br>
	<footer class="footer navbar-fixed-bottom">
			  Copyright &copy; 2018 Karanbir Bains
	</footer>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/connect.js"></script>

</body>
</html>
