<html>
<head>
	<title>Karanbir Bains</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/exp.css">
</head>
<body>
	<div id="About" class="tabcontent">
	  <h1>Karanbir Bains</h1> 
	  <img className="img-rounded" id="profilePic" src='https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAkLAAAAJGYwNDBkZTMwLTUxOGUtNDJiNi05ODY5LWIxYTI0MjZhYWUwYw.jpg'/>
	</div>

	<div id="Projects" class="tabcontent">
	  <h1>Projects</h1>
	  <h3>"A dream does not become reality through magic; it takes sweat, determination and hard work." 
		– Colin Powell</h3> 
	</div>

	<div id="Experience" class="tabcontent">
	  <strong><h1>Experience</h1></strong>
	  <strong><h3>“There are no mistakes in life, only lessons. There is no such thing as a negative experience, only opportunities to grow, learn and advance along the road of selfmastery." – Robin S. Sharma </h3></strong>
	</div>

	<div id="Connect" class="tabcontent">
	  <h1>Connect</h13>
	  <h3>"Alone we can do so little, Together we can do so much." – Helen Keller</h3>
	</div>

	<a href="/"><button class="tablink">About Me</button></a>
	<a href="/project"><button class="tablink">Projects</button></a>
	<button class="tablink" onclick="openTab('Experience', this, '#80b3ff')" id="defaultOpen">Experience</button>
	<a href="/connect"><button class="tablink">Resume</button></a>


	<div class="container">
		<br>
		<div class="Div" id="aboutMeDiv">
			<h1 class="Title" id="aboutMeTitle">AWS Certified</h1>
			<div class="content row">
				<img class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="awsPic" src="../images/aws.png">
				<p class="Body col-xs-8 col-sm-8 col-md-8 col-lg-8" id="aboutMeBody">I am a Certified Amazon Web Services Cloud Solutions Architect Associate. This exam validates my ability to effectively demonstrate knowledge of how to architect and deploy secure and robust applications on AWS technologies. I am familiar with many of the technologies under the AWS umbrella and have worked with the most common ones such as EC2, ELB,Dynamodb, RDS, S3, Auto scaling, and many more.  </p>
				
			</div>
		</div>
		<br>
		<div class="Div" id="extensionDiv">
			<br>
			<h1 class="Title" id="extensionTitle">Full Stack Coding Boot Camp</h1>
			<div class="content row">
				<img class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="extensionPic" src="https://extension.ucsd.edu/app_themes/ucsd/images/UCSanDiegoExtensionLogoHorizWebWhite.svg">
				<p class="Body col-xs-8 col-sm-8 col-md-8 col-lg-8" id="extensionBody">I completed a full stack coding boot camp through the University of California, San Diego Extension program. The program was based on the MERN stack which stands for Mongo Express React and Node.js. I learned a lot through my time in the bootcamp and was able to have good base to start my career.  </p>
			</div>
		</div>
		<br>
		<div class="Div" id="ucsdDiv">
			<br>
			<h1 class="Title" id="ucsdTitle">Undergraduate Studies</h1>
			<div class="content row">
				<img class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="ucsdPic" src="../images/seal2.png">
				<p class="Body col-xs-8 col-sm-8 col-md-8 col-lg-8" id="ucsdBody">I completed my undergraduate studies at the university of california San diego. I am majored in Cognitive Science with a specialization in Human Computer Interaction. My major was based around dealing with consumers interacting with technology and how to improve their interaction. In order to know how humans interact with technology you also need to have a good set of technical skills. In order to achieve this I not only minored in Computer Science but also took a Full Stack boot camp. I graduated in Spring 2018.</p>
			</div>
		</div>
		<br>
		<div class="Div" id="infosysDiv">
			<br>
			<h1 class="Title" id="infosysTitle">Infosys Associate</h1>
			<div class="content row">
				<img class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="infosysPic" src="../images/infosys.jpg">
				<p class="Body col-xs-8 col-sm-8 col-md-8 col-lg-8" id="infosysBody">I am currently an Associate for the international IT consulting company Infosys. As an associate consultant I work with clients to help them with their various individual needs. I am currently consulting at Apple in Software Development.</p>
			</div>
		</div>
	</div>
	
	<br>
	<br>
	<br>
	<footer class="footer navbar-fixed-bottom">
		 <a href="https://github.com/ksbains"><img src="/images/github-128.png" class="footer_connect" alt="GitHub" /></a>
	        
	        <a href="https://www.linkedin.com/in/karanbirbains/"><img src="/images/linkedin-128.png" class="footer_connect" alt="LinkedIn" /></a>

	        <a href="https://stackoverflow.com/users/8414105/k-bains"><img src="/images/stackoverflow-128.png" class="footer_connect" alt="Stack Overflow" /></a>
			  Copyright &copy; 2018 Karanbir Bains
	</footer>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/exp.js"></script>

</body>
</html>
