<html>
<head>
	<title>Karanbir Bains</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
	<div id="About" class="tabcontent">
	  <h1>Karanbir Bains</h1> 
	  <img className="img-rounded" id="profilePic" src='https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAkLAAAAJGYwNDBkZTMwLTUxOGUtNDJiNi05ODY5LWIxYTI0MjZhYWUwYw.jpg'/>
	</div>

	<div id="Projects" class="tabcontent">
	  <h1>Projects</h1>
	  <h3>"A dream does not become reality through magic; it takes sweat, determination and hard work." 
		– Colin Powell</h3> 
	</div>

	<div id="Experience" class="tabcontent">
	  <h1>Experience</h1>
	  <h3>“There are no mistakes in life, only lessons. There is no such thing as a negative experience, only opportunities to grow, learn and advance along the road of selfmastery." – Robin S. Sharma </h3>
	</div>

	<div id="Connect" class="tabcontent">
	  <h1>Connect</h13>
	  <h3>"Alone we can do so little, Together we can do so much." – Helen Keller</h3>
	</div>

	<button class="tablink" onclick="openTab('About', this, 'red')" id="defaultOpen">About Me</button>
	<a href="/project"><button class="tablink">Projects</button></a>
	<a href="/exp"><button class="tablink">Experience</button></a>
	<a href="/connect"><button class="tablink">Connect</button></a>


	<div class="container">
		<br>
		<div class="Div" id="aboutMeDiv">
			<h1 class="Title" id="aboutMeTitle">About Me</h1>
			<p class="Body" id="aboutMeBody">I am a senior at the University of California, San Diego. I majored in Cognitive Science with a specialization in Human Computer Interaction. I also minored in Computer Science. I love technology and innovation, the future excites me and I wanted the skillset to make my own mark on the future in this industry. I was born and raised in San Jose, California. My parents came here just when the silicon valley was starting in the early 80's. I was born the youngest of 3 in 1996, growing up so close to silicon valley definitely motivated and inspired me to enter technology. However the main reason I love technology is efficiently, I hate wasting time fixing a problem if I know there is a better way. Technology has been making things more efficient since the beginning of humanity</p>
		</div>
		<br>
		<div class="Div" id="hobbiesDiv">
			<br>
			<h1 class="Title" id="hobbiesTitle">Hobbies and Interest</h1>
			<p class="Body" id="hobbiesBody">I am a senior at the University of California, San Diego. I majored in Cognitive Science with a specialization in Human Computer Interaction. I also minored in Computer Science. I love technology and innovation, the future excites me and I wanted the skillset to make my own mark on the future in this industry. I was born and raised in San Jose, California. My parents came here just when the silicon valley was starting in the early 80's. I was born the youngest of 3 in 1996, growing up so close to silicon valley definitely motivated and inspired me to enter technology. However the main reason I love technology is efficiently, I hate wasting time fixing a problem if I know there is a better way. Technology has been making things more efficient since the beginning of humanity</p>
		</div>
		<br>
	</div>
	<footer class="footer navbar-fixed-bottom">
			  Copyright &copy; 2018 Karanbir Bains
	</footer>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/homepage.js"></script>

</body>
</html>
