<html>
<head>
	<title>Karanbir Bains</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
	<link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
	<div id="About" class="tabcontent">
	  <h1 id="profileName">Karanbir Bains</h1> 
	  <img className="img-rounded" id="profilePic" src='/images/karanbir.jpg'/>
	</div>

	<div id="Projects" class="tabcontent">
	  <h1>Projects</h1>
	  <h3>"A dream does not become reality through magic; it takes sweat, determination and hard work." 
		– Colin Powell</h3> 
	</div>

	<div id="Experience" class="tabcontent">
	  <h1>Experience</h1>
	  <h3>“There are no mistakes in life, only lessons. There is no such thing as a negative experience, only opportunities to grow, learn and advance along the road of selfmastery." – Robin S. Sharma </h3>
	</div>

	<div id="Connect" class="tabcontent">
	  <h1>Connect</h13>
	  <h3>"Alone we can do so little, Together we can do so much." – Helen Keller</h3>
	</div>

	<button class="tablink" onclick="openTab('About', this, 'red')" id="defaultOpen">About Me</button>
	<a href="/project"><button class="tablink">Projects</button></a>
	<a href="/exp"><button class="tablink">Experience</button></a>
	<a href="/connect"><button class="tablink">Resume</button></a>


	<div class="container">
		<br>
		<div class="Div" id="aboutMeDiv">
			<h1 class="Title" id="aboutMeTitle">About Me</h1>
			<p class="Body" id="aboutMeBody">I am a senior at the University of California, San Diego. I majored in Cognitive Science with a specialization in Human Computer Interaction and minored in Computer Science. I love technology and innovation. The future excites me and I chose Computer Science because I wanted the skillset to make my own mark on the future in this industry. I was born and raised in San Jose, California. My parents emigrated to these United States just when Silicon Valley was starting in the late 80's. I was lucky enough to be born in Silicon Valley during the tech boom in 1996, growing up so close to Silicon Valley definitely motivated and inspired me to enter technology. However the main reason I love technology is efficiently. Technology has been making things more efficient and improving lives since the beginning of humanity, and I just want to be a part of that forward march humanity...</p>
		</div>
		<br>
		
		<br>
		<div class="Div" id="hobbiesDiv">
			<br>
			<h1 class="Title" id="hobbiesTitle">Hobbies and Interest</h1>
			<p class="Body" id="hobbiesBody">I enjoy playing Basketball, spending time with family and friends, listening to music, and catching up with current events. I make sure I know what is going on in the world and how it may impact me. I am especially interested in the advancement that the space sector has made in the last few years. </p>
		</div>
		<br>
	</div>
	<br>
	<br>
	<br>
	<img class="photo" src="../images/spaceship.jpg">
	<footer class="footer navbar-fixed-bottom">
		 <a href="https://github.com/ksbains"><img src="/images/github-128.png" class="footer_connect" alt="GitHub" /></a>
	        
	        <a href="https://www.linkedin.com/in/karanbirbains/"><img src="/images/linkedin-128.png" class="footer_connect" alt="LinkedIn" /></a>

	        <a href="https://stackoverflow.com/users/8414105/k-bains"><img src="/images/stackoverflow-128.png" class="footer_connect" alt="Stack Overflow" /></a>
			  Copyright &copy; 2018 Karanbir Bains
	</footer>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/homepage.js"></script>

</body>
</html>
