body {
    font-family: "Lato", 
    sans-serif;
    background-image: url('../images/tools-pattern.jpg');
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

.tablink {
    background-color: #668c99;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

#profilePic{
    text-align: center;
    border-radius: 25px;
}
#About {
    background-color:red;
    margin-bottom: 0px;
    height: 350px;
    background-image: url('../images/skies.jpeg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
#Projects {
    margin-bottom: 0px;
    height: 350px;
    background-image: url('../images/projects.jpeg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
#Experience {
    background-color:blue;
    margin-bottom: 0px;
    height: 350px;
    background-image: url('../images/graduate.jpeg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
#Connect {
    background-color:green;
    margin-bottom: 0px;
    height: 350px;
    background-image: url('../images/teamwork.jpeg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.project{
    max-height:60%;
    max-width: 30%;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    border-color: orange;
    margin-top: 3%;
    margin-right: 2%;
    background-color: #555;
}

.Summary{
    color: #337ab7;
}

.Title{
    color: orange;
    text-decoration: underline;
}

.thumbnail img{
    max-width: 200px;
    max-height: 200px;
}

.Body{
    color: black;
    padding: 2% 5% 2% 5%;
    font-size: large;
}

footer {
  position: absolute;
  padding: 15px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 10% solid #668c99;
  width: 100%;
}